<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dawn.shortlink.dao.mappers.UrlMapper">
<!--
create table if not exists t_url_mapping
(
    id           int           NOT NULL AUTO_INCREMENT,
    short_url   char(6)       NOT NULL,
    origin_url   varchar(1024) NOT NULL,
    descrp       varchar(1024),
    created_time timestamp     NOT NULL,
    expired_time timestamp     NOT NULL,

    PRIMARY KEY id (id),
    UNIQUE KEY short_url (short_url),
    KEY expired_time (expired_time)
)AUTO_INCREMENT=1;
-->
    <insert id="insertUrl" parameterType="com.dawn.shortlink.domain.ShortUrlInfoDTO">
        INSERT INTO t_url_mapping (short_url,origin_url,descrp,created_time,expired_time)
        VALUES (#{shortUrlInfoDTO},#{originUrl},#{description},#{createdTime},#{expiredTime});
    </insert>
    <select id="selectByShortUrl" parameterType="String" resultType="com.dawn.shortlink.domain.ShortUrlInfoDTO">
        SELECT short_url,origin_url,descrp,created_time,expired_time FROM t_url_mapping WHERE short_url = #{short_url};
    </select>
    <delete id="deleteTimeoutUrl" parameterType="java.util.Date">
        DELETE FROM t_url_mapping WHERE expired_time &lt; #{Date};
<!--        还未测试-->
    </delete>
    
</mapper>